/*@import "reset.css";
*/
@font-face
{
	font-family: 'chunky';
	src: url('font/chunkfive.otf'); 

	font-family: 'arvo';
	src: url('font/arvo/Arvo-Regular.ttf'); 
}


body {
	font-size: 13px;
	color: #212121;
 	line-height: 22px;
 	letter-spacing: 1px;
 	background: #ffffff;
 	margin: 0px auto;
 	font-family: "droid-sans",sans-serif;
	}

p {
	margin: 10px 0 0;
	}
	

h1 {
	font-family: 'arvo';
	font-size: 45px;
	margin: 0;
	padding: 0 10px 0 0;
	color: #d2d2d2;
 	width:65%;
  	float: left;
  	border-right: 1px solid #c1c1c1;
  	text-transform: uppercase;
  	line-height: 55px;
	}
	
h1 span{
	color: #4b4b4b;
	}

h2 {
	color: #212121;
	margin: 0 0 15px 0;
	font-size: 22px;
	font-weight: bold;
	}
	
h3 {
	color: #39637e;
	font-size: 14px;
	}
	
a {
	text-decoration: none;
	color: #4b4b4b; 
	-webkit-transition-duration: 0.25s; 
	-webkit-transition-timing-function: linear;	
	-moz-transition-property: color; 
	-moz-transition-duration: 0.25s; 
	-moz-transition-timing-function: linear;	
	transition-property: color; 
	transition-duration: 0.25s; 
	transition-timing-function: linear;	
	}

a:hover {
	color: #990000;
	}


/*
ul#about li:last-child {
	margin:0;
	}
	
ul#about {
	margin: 10px 0 0;
	}
*/	

	
section, article {
	overflow: hidden;
	}


/* Header */

section, section#header_top p, #wrapper, section#footer_box {
	width: 1000px;
	margin: 0 auto;
	}
	
section#header_top, footer{
	width: 100%;
	background: url(images/bg.jpg) 0 0 repeat;
	background-color: grey;
	}
	
section#header_top p{
	padding: 10px 0;
	color: grey;
	text-transform: uppercase;
	font-size:12px;
	}

section#header, article{
	margin: 30px auto;
	padding: 0px 0px 10px 0px;
  	border-bottom: 1px solid #c1c1c1;
	}	
			
section#header{
	margin: 30px auto 0;
	}


p#elevatorspeech {
	padding-top: 30px;
	color:#212121;
	text-align: center;
	font-style: italic;
	font-size: 16px;
	}


/* Main page layout */
		
section#content_left{
	width: 480px;
	float: left;
	}		

p.subtitle {
	color: #212121;
	margin: 0 0 10px 0;
	font-size: 22px;
	font-weight: bold;
	}

/** Colour headings based on hover **/			
section#content_left article:hover p.sub_title , section#content_right article:hover p.subtitle{ 
	color: #990000;
	}

	/** Colour headings based on hover **/			
section#content_left article:hover div.exp_header , section#content_right article:hover p.subtitle{ 
	color: #990000;
	}				
	
section#content_right{
	width: 480px;
	float: right;
	}

/* no border on last article */		
section#content_left article:last-child, section#content_right article:last-child{
	border:none;
	}		
		
/* contact details */

ul#contact_details {
	margin-top: 5px;	
	float: right;
	width:29%;
	color:#4b4b4b;
	}
	
ul#contact_details li {
	display: block;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;	
	transition: all 0.25s ease-in-out;	
	}	
	
ul#contact_details li {
	color:#4b4b4b;
	padding: 10px 0px 0 60px;
	}
		
ul#contact_details li:hover{
	color:#990000;
	padding: 10px 0px 0px 80px;
	opacity: 0.7;
	}

ul#contact_details li a {
	text-decoration: none;
	color: #4b4b4b;
}

ul#contact_details li a:hover {
	text-decoration: none;
	color:#990000;
}


/* Experience */

article.experience {
	/*border: 1px solid lightgrey;*/
	/*border-radius: 10px;*/
}

.datefromto {
	opacity: 0.5;
	margin-bottom: 5px;	
}

.exp_header {
	width: 465px;
	background-color: #F8F8F8 ;
	display: inline-block;
	/*height: 10px;*/
    padding: 5px;
    /*width: 10px;*/
    border: 1px solid lightgrey;
	border-radius: 10px;
 }

.exp_header p.rolename {
 	width:80%;
  	float: left;
  	margin-bottom: 5px;
}

.exp_header p.icon {
	width: 20%;
	float: right;
	font-size: 2em;
	margin: 0 0 0px 0;
	text-align: right;
}

.exp_header p.rolelocation, .exp_header .datefromto{
 	width:100%;
 	clear: both;
  	display: block;
  	opacity: 0.5;
}

#me {
	float: left;
	}

ul#values {
	width:50%;
	float: right;
	padding: 20px 0 0 10px;
	}


ul#contact_details {
	margin-top: 5px;	
	float: right;
	width:280px;
	color:#4b4b4b;
	padding: 20px 0 0 10px;
	}

ul#stats {
	width:280px;
	float: left;
	padding: 20px 0 0 10px;
	}
	
ul#stats li{
	margin:0 0 22px 0;
	}



ul#certs li {
	height: 30px;
    background: url(images/bcslogo.png) no-repeat;
	padding: 12px 0 0 60px;
	margin: 0 0 15px 0;
	display: block;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;	
	transition: all 0.25s ease;	
	}	
	
ul#certs li a span{
	color:#212121;
	}
		
ul#certs li span.edu{
	background-position: 0 5px;
	}
		
ul#certs li.edu:hover{
	background-position: 7px 5px;
	}
ul#certs li.edu:hover {
	opacity: 0.7;
	}		
	

img#skills {
	margin: 0 auto;
	width:100%;
}


div.fuzzydividertop {
	display: block;
	width: 100%;
	height: 9px;
	margin-top: -1px;
	background-image:url('images/border.png');
	background-repeat:repeat-x;
	z-index: -1;
}

div.fuzzydividerbtm {
	display: block;
	width: 100%;
	height: 9px;
	background-image:url('images/borderbtm.png');
	background-repeat:repeat-x;
}



/* Footer */

footer {
    clear: both;
    padding: 20px 0;
	}


#footer_box a:hover{
	color: darkgrey;
	}	

p#copyright, p#ack {
	width:50%;
	margin: 10px 0 0 0;
	font-size: 0.8em;
	}

p#copyright {
	float:left;
	}

p#ack {
	float:right;
	text-align: right;
	}


/* Charting */
.chart rect {
   stroke: white;
   fill: darkred;
   padding: 10px;
   height: 20px;
}
.chart text {
	color: white;
}



/* Getting responsive */

#frame-indicator li.selected {
background-color: #888;
}

#frame-indicator li {
background-color: #ddd;
border-radius: 5px;
display: inline-block;
height: 10px;
margin: 0 5px;
width: 10px;
}

/* iPad & smaller screens*/

@media only screen and (max-width: 900px) {

html {
	-webkit-text-size-adjust: 100%;
	}

#wrapper, section, section#statement p, #footer_inner {
	width:96%!important;
	padding: 0 2%;
	}
	
section#header {
	padding: 0;
	}
	
h1 {
	font-size: 300%;
	width:100%;
	float:none;
	line-height:normal;
	border: none;
	text-align: center;
	}
			
span.ampersand.big {
	font-size: 120%;
	}	
	
section#content_left, section#content_right {
	float: none;	
	width:100%;
	}

ul#social_media {
	float:none;
	width:100%;	
	border-top: 1px solid #c1c1c1;
	margin: 10px 0 0;
	padding: 10px 0 0;
	}	
	
ul#social_media li {
	width:30%;
	float: left;	
	}		
		
ul#social_media li:first-child {
	padding: 0 0 0 6%;	
	}		
	
ul#social_media li a{
	padding: 12px 0 0 40px;	
	}	
		
ul#social_media li a span{
	display:none;	
	}	

/* Sets the border and margin for the first and last articles */	
section#content_left article:last-child	{
	border-bottom: 1px solid #c1c1c1;
	}
		
section#content_right article:first-child	{
	margin:0;
	}

#work_pointer {
	display: none;
	}
	
#work_link {
	float: none;
	margin: 0 auto;
	text-align: center;
	width:90%;
	line-height: normal;
	}
			
#work_link a, #work_link p{
	font-size: 300%;
	}
				
ul#social_media li a.twitter:hover{
	background-position: 2px 5px;
	}
						
ul#social_media li a.linkedin:hover{
	background-position: 2px -98px;
	}
												
ul#social_media li a.email:hover{
	background-position: 2px -198px;
	}	

ul#stats {
	width:50%;
	padding: 20px 0 0;
	margin: 0 0 0 10px;
	}
}

/* iphone landscape */

@media only screen and (max-width: 480px) {

ul#social_media {
 	padding: 20px 0 0;
	}
			
ul#social_media li a {
	padding: 50px 0 0 0;
	}
					
		
ul#social_media li:first-child {
	padding: 0;	
	}
			
#work_link a, #work_link p{
	font-size: 200%;
	}	

#me {
	width:40%;
	}
	
#me img {
	width:100%;
	height:95%;
	}

ul#stats {
	width:55%;
	padding:19px 0 0;
	}
	
ul#stats li{
	margin: 0 0 20px;
	}
	
#footer_inner {
	display: none;
	}

}
/* iphone portrait */

@media only screen and (max-width: 320px) {
					
ul#social_media li a {
	font-size: 80%;
	}

#me {
	width:40%;
	}
	
#me img {
	width:100%;
	height:70%;
	}
	
ul#stats {
	padding: 10px 0 0;
	}
	
ul#stats li{
	margin: 0 0 10px;
	font-size: 80%;
	}
}